$color-primary: #fcb403;
$color-secondary: #ffc1b4;
$color-background: #f7f7f7;
$color-neutral: white;
$color-delete: red;


$theme-colors: (
  "primary": $color-primary,
  "dark": $color-primary,
  "success": $color-secondary,
  "danger": $color-delete,
);



$font-family-base: 'Helvetica', 'Arial', sans-serif;
$headings-font-family: 'Neuton', serif;
$headings-color: $color-primary;


$body-bg: $color-background;

$link-decoration: none;

@import "~bootstrap/scss/bootstrap";

@import "./partials/nav";
@import "./partials/form";
@import "./partials/listgroup";
@import "./partials/card";
@import "./partials/tabs";
