$color-primary: #fff;
$color-primary-black: #000;
$color-secondary: #D9674E;
$color-accent: #067302;
$color-delete: #D93611;


$theme-colors: (
  "primary": $color-primary,
  "success": $color-accent,
  "danger": $color-delete,
);

$font-family-base: 'Helvetica', 'Arial', sans-serif;
$headings-font-family: 'Neuton', serif;
$headings-color: $color-primary-black;


$body-bg: $color-primary;

$link-decoration: none;

@import "~bootstrap/scss/bootstrap";

@import "./custom";
@import "./partials/nav";
@import "./partials/form";
@import "./partials/listgroup";
@import "./partials/card";
@import "./partials/tabs";
