.navbar-brand {
  color: $color-neutral;
  font-size: 1.75rem;
  font-family: $headings-font-family;
}

.nav-link {
  color: $color-neutral;


  &:active {
    color: $color-primary;
  }
}

.btn-light {
  padding: .25rem, .25rem;
}